<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body id="mycontainer"></body>
  <button id="my">Load Data</button>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/demo_AJAX.js"></script>
</html>
